In [2]:
import pandas as pd

### Time Series Data

In [27]:
df1 = pd.read_csv('COVID_19_Nursing_Home_Data_11_28_2021_.csv')

In [24]:
lst = ['Week Ending','Federal Provider Number','Provider Name','Provider State','Passed Quality Assurance Check',
       'Residents Weekly Confirmed COVID-19','Residents Total Confirmed COVID-19',
 'Residents Weekly COVID-19 Deaths','Residents Total COVID-19 Deaths','Number of All Beds','Total Number of Occupied Beds',
 'Resident Access to Testing in Facility','Staff Weekly Confirmed COVID-19','Staff Total Confirmed COVID-19',
 'Staff Weekly COVID-19 Deaths','Staff Total COVID-19 Deaths','Shortage of Nursing Staff','Shortage of Clinical Staff',
 'Shortage of Aides','Shortage of Other Staff','Any Current Supply of N95 Masks','Any Current Supply of Surgical Masks',
 'Any Current Supply of Eye Protection','Any Current Supply of Gowns','Any Current Supply of Gloves',
 'Any Current Supply of Hand Sanitizer','Any Current Supply of Ventilator Supplies',
 'Weekly Resident Confirmed COVID-19 Cases Per 1,000 Residents',
 'Weekly Resident COVID-19 Deaths Per 1,000 Residents',
 'Total Resident Confirmed COVID-19 Cases Per 1,000 Residents',
 'Total Resident COVID-19 Deaths Per 1,000 Residents',
 'Total Residents COVID-19 Deaths as a Percentage of Confirmed COVID-19 Cases',
 'Percentage of Current Residents who Received a Completed COVID-19 Vaccination at Any Time',
 'Percentage of Current Residents who Received a Partial COVID-19 Vaccination at Any Time',
 'Percentage of Current Residents who Received a Completed or Partial COVID-19 Vaccination at Any Time',
 'Percentage of Current Residents with a Completed Vaccination who Received a COVID-19 Vaccine Booster at Any Time',
 'Percentage of Current Healthcare Personnel who Received a Completed COVID-19 Vaccination at Any Time',
 'Percentage of Current Healthcare Personnel who Received a Partial COVID-19 Vaccination at Any Time',
 'Percentage of Current Healthcare Personnel who Received a Completed or Partial COVID-19 Vaccination at Any Time',
 'Percentage of Current Healthcare Personnel with a Completed Vaccination who Received a COVID-19 Vaccine Booster at Any Time']

In [25]:
df2 = df1[lst]

In [26]:
df2.to_csv('COVID_19_Nursing_Home_Data_time_series.csv')

### Map Data

In [3]:
df1 = pd.read_csv('new_nursing.csv')

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
df2 = df1[['Provider.Name','Provider.State', 'Total.Resident.Confirmed.COVID.19.Cases.Per.1.000.Residents','Residents.Total.Admissions.COVID.19',
          'Percentage.of.Current.Residents.who.Received.a.Completed.COVID.19.Vaccination.at.Any.Time']]
df2 = df2.groupby(['Provider.Name','Provider.State'],as_index=False).mean()
df2 = df2.groupby('Provider.State',as_index=False).mean()
df2.columns = ['state', 'total.confirmed.NHresident.per1000','total.confirmed.resident','complete.vaccinated.NHresident.per1000']
df2['complete.vaccinated.NHresident.per1000'] = df2['complete.vaccinated.NHresident.per1000'].apply(lambda x: float(x)*10)
df2

,state,total.confirmed.NHresident.per1000,total.confirmed.resident,complete.vaccinated.NHresident.per1000
0,AK,124.062367,3.025000,914.856000
1,AL,533.328216,11.287616,836.182635
2,AR,545.255260,6.600947,853.451131
3,AZ,451.066823,33.393440,750.652676
4,CA,461.639847,21.365541,854.956538
5,CO,351.421644,7.650854,880.019793
6,CT,580.867873,21.350681,895.264282
7,DC,277.167289,19.610526,838.117188
8,DE,390.965160,14.034574,918.108222
9,FL,375.241568,21.996459,750.408624
10,GA,490.524200,12.503268,820.200576
11,GU,4.762000,0.000000,900.790000
12,HI,54.260917,0.915909,914.358140
13,IA,401.043650,3.859293,920.727818
14,ID,340.379823,4.556504,820.489000
15,IL,446.503210,15.130426,870.225316
16,IN,458.838966,7.672492,844.658970
17,KS,383.166388,4.656965,869.609391
18,KY,487.827669,10.574928,836.247034
19,LA,445.350521,11.284069,811.846455
20,MA,454.932884,17.916948,910.605546
21,MD,391.244603,16.280975,866.821009
22,ME,214.670004,1.958065,922.729570
23,MI,347.046327,14.170936,836.857336
24,MN,299.384378,7.513964,920.303729
25,MO,453.748942,6.896096,850.860472
26,MS,526.810020,6.144334,825.770821
27,MT,320.139378,4.032381,886.083841
28,NC,429.405692,12.450075,833.928076
29,ND,363.222049,3.579487,922.222792
30,NE,333.122054,4.623875,920.041830
31,NH,346.197240,4.762162,931.691027
32,NJ,469.797045,30.105634,871.017565
33,NM,462.278660,17.429524,840.625735
34,NV,466.517956,22.248485,723.347231
35,NY,336.130734,20.412865,875.557827
36,OH,424.938967,9.977446,817.269747
37,OK,457.333527,9.503628,825.589118
38,OR,216.702457,8.650000,837.137698
39,PA,455.580533,13.702571,872.237784
40,PR,96.144347,0.388889,771.049167
41,RI,532.687723,14.615417,932.500844
42,SC,476.785208,13.895432,826.955892
43,SD,384.860866,3.767548,940.902718
44,TN,440.969928,11.034324,794.249339
45,TX,482.638502,12.813326,799.969351
46,UT,352.976334,16.383276,861.805206
47,VA,399.797361,9.738635,865.119684
48,VT,95.162771,2.014286,960.961286
49,WA,300.935943,8.696802,870.511533
50,WI,311.884279,6.068267,876.935029
51,WV,330.641656,3.256098,879.738211
52,WY,287.795985,3.337237,903.040972

In [10]:
def us_state_dic(open_path):
    state_dic = {}
    open_path = ''
    f = open(open_path + 'us_state_abbre.txt', 'r')
    for line in f.readlines():
        a = line.split("-")
        state_dic[a[0].lower().strip()] = a[1].strip()
    return state_dic

abbrev_dict = us_state_dic('')

In [11]:
df3 = pd.read_csv('Medicare_COVID_19_Cases_Hospitalizations_August_2021.csv')

In [12]:
df3 = df3[(df3['Claims_Thru_Dt']=='08/21/2021') & (df3['Measure_Level']=='COVID-19 Cases by State') & (df3['Measure_Unit']=='Beneficiary Count per 100K')]

In [13]:
df3['state'] = df3['Measure_Element'].apply(lambda x: abbrev_dict[x.lower()] if x.lower() in abbrev_dict else None)
df3['state_name'] = df3['Measure_Element'].apply(lambda x: x.lower())
df3['total.confirmed.state.per1000'] = df3['Value'].apply(lambda x: int(x.replace(',',''))/100)
df3 = df3[['state','state_name','total.confirmed.state.per1000']]
df3

     state            state_name  total.confirmed.state.per1000
6161    AL               alabama                         104.54
6162    AK                alaska                          42.92
6163    AZ               arizona                          87.01
6164    AR              arkansas                          95.62
6165    CA            california                          65.98
6166    CO              colorado                          55.53
6167    CT           connecticut                          79.77
6168    DE              delaware                          65.08
6169    DC  district of columbia                          79.35
6170    FL               florida                          77.20
6171    GA               georgia                          94.34
6172    HI                hawaii                          16.55
6173    ID                 idaho                          72.80
6174    IL              illinois                          84.33
6175    IN               indiana                          86.83
6176    IA                  iowa                          74.69
6177    KS                kansas                          77.28
6178    KY              kentucky                          83.88
6179    LA             louisiana                         125.66
6180    ME                 maine                          28.84
6181    MD              maryland                          65.66
6182    MA         massachusetts                          73.09
6183    MI              michigan                          72.57
6184    MN             minnesota                          66.56
6185  None          missing data                           1.22
6186    MS           mississippi                         123.04
6187    MO              missouri                          90.44
6188    MT               montana                          78.30
6189    NE              nebraska                          72.21
6190    NV                nevada                          69.44
6191    NH         new hampshire                          42.69
6192    NJ            new jersey                         117.92
6193    NM            new mexico                          59.86
6194    NY              new york                         107.49
6195    NC        north carolina                          72.12
6196    ND          north dakota                          79.68
6197    OH                  ohio                          75.60
6198    OK              oklahoma                          96.24
6199    OR                oregon                          30.67
6200    PA          pennsylvania                          77.33
6201    PR           puerto rico                          84.89
6202    RI          rhode island                          86.12
6203    SC        south carolina                          84.13
6204    SD          south dakota                          96.10
6205    TN             tennessee                          82.58
6206  None           territories                          16.05
6207    TX                 texas                          99.62
6208    UT                  utah                          73.40
6209    VT               vermont                          19.08
6210    VI        virgin islands                          37.26
6211    VA              virginia                          58.41
6212    WA            washington                          35.78
6213    WV         west virginia                          61.89
6214    WI             wisconsin                          59.58
6215    WY               wyoming                          67.02

In [14]:
df4 = pd.read_csv('NH_ProviderInfo_Sep2021.csv',engine='python')
df4 = df4[['Provider Name','Provider State','Overall Rating','Health Inspection Rating','QM Rating','Staffing Rating']]

In [16]:
df6 = df4.groupby('Provider State',as_index=False).mean()
df6.columns = ['state', 'overall.rating', 'health.inspection.rating','qm.rating','staffing.rating']
df6

   state  overall.rating  health.inspection.rating  qm.rating  staffing.rating
0     AK        3.944444                  2.944444   4.388889         4.529412
1     AL        3.424779                  2.969027   3.331858         3.555556
2     AR        3.169725                  2.811927   3.555046         2.976959
3     AZ        3.507246                  2.688406   4.224638         3.536232
4     CA        3.488851                  2.784734   4.484509         3.146174
5     CO        3.589041                  2.762557   4.050228         4.041284
6     CT        3.434783                  2.797101   3.888889         3.758454
7     DC        3.875000                  3.062500   4.375000         4.375000
8     DE        4.000000                  2.906977   4.162791         4.511628
9     FL        3.490539                  2.818049   3.861516         3.849854
10    GA        2.702550                  2.767705   2.847025         2.419263
11    GU        3.000000                  2.000000        NaN         5.000000
12    HI        4.000000                  2.714286   4.833333         4.523810
13    IA        3.345882                  2.809412   3.641509         3.674528
14    ID        3.705128                  2.820513   4.269231         4.012987
15    IL        2.928264                  2.776184   3.229885         2.823789
16    IN        3.180077                  2.831418   3.793103         2.819231
17    KS        3.238245                  2.843260   3.263323         3.570533
18    KY        2.946619                  2.829181   2.907473         3.035842
19    LA        2.459559                  2.823529   2.423792         1.931818
20    MA        3.339674                  2.730978   3.615804         3.719346
21    MD        3.408072                  2.775785   3.977578         3.576577
22    ME        3.641304                  2.771739   3.804348         4.395604
23    MI        3.467593                  2.773148   3.898148         3.779582
24    MN        3.653740                  2.778393   3.792244         4.386111
25    MO        2.974308                  2.806324   3.277778         2.805785
26    MS        2.859296                  2.783920   2.130653         3.482412
27    MT        3.521739                  2.826087   3.855072         3.913043
28    NC        2.931442                  2.801418   3.444712         2.729469
29    ND        3.397436                  2.730769   3.448718         4.346154
30    NE        3.381443                  2.829897   3.613402         3.752577
31    NH        3.263889                  2.722222   3.750000         3.597222
32    NJ        3.566572                  2.855524   4.252125         3.529915
33    NM        3.338235                  2.867647   3.470588         3.470588
34    NV        3.253968                  2.873016   3.903226         3.158730
35    NY        3.255738                  2.818033   4.159539         2.670511
36    OH        3.030043                  2.771459   3.793548         2.514532
37    OK        2.731959                  2.759450   3.037931         2.505190
38    OR        3.507812                  2.742188   4.023438         3.921260
39    PA        3.301915                  2.851252   3.758468         3.336283
40    PR        3.000000                  2.333333   4.800000         3.000000
41    RI        3.315789                  2.605263   3.868421         3.706667
42    SC        3.236559                  2.908602   3.172043         3.354839
43    SD        3.294118                  2.813725   3.519608         3.693069
44    TN        3.110390                  2.808442   3.441558         2.895765
45    TX        2.747234                  2.854468   3.324532         2.047904
46    UT        3.821053                  2.821053   4.684211         3.734043
47    VA        3.180212                  2.816254   3.763251         2.921986
48    VT        3.500000                  3.000000   3.705882         3.735294
49    WA        3.670051                  2.802030   4.158163         3.937824
50    WI        3.502907                  2.834302   3.968023         3.803519
51    WV        3.090909                  2.826446   3.190083         3.225000
52    WY        3.457143                  2.971429   3.588235         3.823529

In [17]:
df = pd.merge(df2, df3, left_on='state', right_on='state', how='left')
df = pd.merge(df, df6, left_on='state', right_on='state', how='left')
df.to_csv('map_data.csv')

### Biplot Data

In [21]:
df5 = df1.replace('Y', 1)
df5 = df5.replace('N', 0)
df5 = df5.groupby(['Provider.Name', 'Provider.State'], as_index=False).mean()
df5 = pd.merge(df5, df4[['Provider Name','Overall Rating','Health Inspection Rating'
                         ,'QM Rating','Staffing Rating']], left_on='Provider.Name', right_on='Provider Name', how='left')

In [25]:
df5['Percentage.of.Occupied.Beds'] = df5['Total.Number.of.Occupied.Beds']/df5['Number.of.All.Beds']

def resources(row):
    lst = ['Any.Current.Supply.of.N95.Masks','Any.Current.Supply.of.Surgical.Masks',
     'Any.Current.Supply.of.Eye.Protection',
     'Any.Current.Supply.of.Hand.Sanitizer']
    return sum(list(row[lst]))
df5['Resource.Supply'] = df5.apply(lambda x: resources(x), axis=1)

def staff(row):
    lst = ['Shortage.of.Nursing.Staff'
           #'Shortage.of.Clinical.Staff','Shortage.of.Aides','Shortage.of.Other.Staff'
          ]
    return 1-sum(list(row[lst]))
df5['Nursing.Staff'] = df5.apply(lambda x: staff(x), axis=1)

lst = ['Provider.Name','Provider.State',
 'Percentage.of.Occupied.Beds','Resource.Supply','Nursing.Staff',
 'Total.Resident.Confirmed.COVID.19.Cases.Per.1.000.Residents',
 'Percentage.of.Current.Residents.who.Received.a.Completed.COVID.19.Vaccination.at.Any.Time',
 'Health Inspection Rating','Staffing Rating','QM Rating','Overall Rating'
# 'Percentage of Current Healthcare Personnel who Received a Completed COVID-19 Vaccination at Any Time'
      ]
df5 = df5[lst]
new_lst = ['Provider.Name','Provider.State',
 'Occupied.Beds.Per.100','Resource.Supply','Nursing.Staff',
 'Confirmed.COVID.19.Per.1.000',
 'Complete.Vaccination.Per.100',
 'Health.Inspection.Rating','Staffing.Rating','QM.Rating', 'Overall.Rating'
 #'Percentage of Healthcare Personnel Completed Vaccination'
          ]
df5.columns = new_lst

In [26]:
df5.mean()

Occupied.Beds.Per.100             0.707880
Resource.Supply                   3.896286
Nursing.Staff                     0.828144
Confirmed.COVID.19.Per.1.000    423.498108
Complete.Vaccination.Per.100     84.985535
Health.Inspection.Rating          2.814916
Staffing.Rating                   3.165596
QM.Rating                         3.670362
Overall.Rating                    3.223611
dtype: float64

In [27]:
df5.to_csv('biplot_data.csv')